Source: ros-indigo-roslisp
Section: misc
Priority: extra
Maintainer: Lorenz Moesenlechner <moesenle@cs.tum.edu>
Build-Depends: debhelper (>= 7.0.50~), ros-indigo-catkin
Homepage: http://ros.org/wiki/roslisp
Standards-Version: 3.9.2

Package: ros-indigo-roslisp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-rosgraph-msgs, ros-indigo-roslang, ros-indigo-rospack, ros-indigo-std-srvs, sbcl
Description: Lisp client library for ROS, the Robot Operating System.
